/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
.ec-flip-wrapper * {
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ec-flip-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc; }

.ec-flip-wrapper a:hover {
  color: #fff; }

.ec-flip-wrapper ul {
  list-style: none; }

.ec-flip-wrapper.ec-clearfix:before,
.ec-flip-wrapper.ec-clearfix:after {
  content: " ";
  display: table; }

.ec-flip-wrapper.ec-clearfix:after {
  clear: both; }

.ec-flip-wrapper.ec-clearfix {
  *zoom: 1; }

/* Main */
.ec-flip-wrapper {
  min-height: 100%;
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none; }

.ec-flip-meridium {
  background: none;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important;
  color: #313333;
  bottom: 10px; }

.ec-flip-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em; }

/* Skeleton */
.ec-flip-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 60px;
  height: 90px;
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 6px_prefixed;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7); }

.ec-flip-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px; }

.ec-flip-wrapper ul li:first-child {
  z-index: 2; }

.ec-flip-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important; }

.ec-flip-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden; }

.ec-flip-wrapper ul li a div .ec-flip-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2; }

.ec-flip-wrapper ul li a div.ec-flip-up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.ec-flip-wrapper ul li a div.ec-flip-up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4); }

.ec-flip-wrapper ul li a div.ec-flip-down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0; }

.ec-flip-wrapper ul li a div div.ec-flip-inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #333;
  border-radius: 6px;
  font-size: 70px; }

.ec-flip-wrapper ul li a div.ec-flip-up div.ec-flip-inn {
  top: 0; }

.ec-flip-wrapper ul li a div.ec-flip-down div.ec-flip-inn {
  bottom: 0; }

/* PLAY */
.ec-flip-wrapper ul.ec-flip-play li.ec-flip-before {
  z-index: 3; }

.ec-flip-wrapper ul.ec-flip-play li.ec-flip-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 2; }

.ec-flip-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100px; }

.ec-flip-divider:first-child {
  width: 0; }

.ec-flip-dot {
  display: block;
  background: #323434;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.ec-flip-divider .ec-flip-label {
  position: absolute;
  top: -1.5em;
  right: -86px;
  color: black;
  text-shadow: none; }

.ec-flip-divider.minutes .ec-flip-label {
  right: -88px; }

.ec-flip-divider.seconds .ec-flip-label {
  right: -91px; }

.ec-flip-dot.ec-flip-top {
  top: 30px; }

.ec-flip-dot.ec-flip-bottom {
  bottom: 30px; }

@-webkit-keyframes asd {
  0% {
    z-index: 2; }
  20% {
    z-index: 4; }
  100% {
    z-index: 4; } }

@-moz-keyframes asd {
  0% {
    z-index: 2; }
  20% {
    z-index: 4; }
  100% {
    z-index: 4; } }

@keyframes asd {
  0% {
    z-index: 2; }
  20% {
    z-index: 4; }
  100% {
    z-index: 4; } }

.ec-flip-wrapper ul.ec-flip-play li.ec-flip-active .ec-flip-down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg); } }

@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg); }
  100% {
    -moz-transform: rotateX(0deg); } }

@keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg); }
  100% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg); } }

.ec-flip-wrapper ul.ec-flip-play li.ec-flip-before .ec-flip-up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(-90deg); } }

@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg); }
  100% {
    -moz-transform: rotateX(-90deg); } }

@keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg); }
  100% {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg); } }

.ec-flip-wrapper ul li.ec-flip-active {
  z-index: 3; }

/* SHADOW */
.ec-flip-wrapper ul.ec-flip-play li.ec-flip-before .ec-flip-up .ec-flip-shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%);
  -webkit-animation: ec-show 0.5s linear both;
  -moz-animation: ec-show 0.5s linear both;
  animation: ec-show 0.5s linear both; }

.ec-flip-wrapper ul.ec-flip-play li.ec-flip-active .ec-flip-up .ec-flip-shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%);
  -webkit-animation: ec-hide 0.5s 0.3s linear both;
  -moz-animation: ec-hide 0.5s 0.3s linear both;
  animation: ec-hide 0.5s 0.3s linear both; }

/*DOWN*/
.ec-flip-wrapper ul.ec-flip-play li.ec-flip-before .ec-flip-down .ec-flip-shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%);
  -webkit-animation: ec-show 0.5s linear both;
  -moz-animation: ec-show 0.5s linear both;
  animation: ec-show 0.5s linear both; }

.ec-flip-wrapper ul.ec-flip-play li.ec-flip-active .ec-flip-down .ec-flip-shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%);
  -webkit-animation: ec-hide 0.5s 0.3s linear both;
  -moz-animation: ec-hide 0.5s 0.3s linear both;
  animation: ec-hide 0.5s 0.3s linear both; }

@-webkit-keyframes ec-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes ec-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes ec-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes ec-hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes ec-hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes ec-hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*# sourceMappingURL=flipclock.css.map */